#!/usr/bin/env bash
# run_onchange_install-packages.sh.tmpl
# packages-hash: {{ .packages | toJson | sha256sum }}

set -euo pipefail

PACMAN_PKGS="{{ .packages.base | join " " }}"

{{- if hasKey .packages .machine_role }}
PACMAN_PKGS+=" {{ index .packages .machine_role | join " " }}"
{{- end }}

{{- if hasKey .packages "aur" }}
AUR_PKGS="{{ .packages.aur.base | join " " }}"
{{- if hasKey .packages.aur .machine_role }}
AUR_PKGS+=" {{ index .packages.aur .machine_role | join " " }}"
{{- end }}
{{- else }}
AUR_PKGS=""
{{- end }}

sudo pacman -S --needed --noconfirm $PACMAN_PKGS

if [[ -n "$AUR_PKGS" ]]; then
    yay -S --needed --noconfirm $AUR_PKGS
fi
